.container {
    width: 100%;
    box-sizing: border-box;
    max-width: 1440px;
    height: 552px;
    padding: 24px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    width:457px;
    text-align: left;
}

.description > h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
    margin: 0;
}

.description > p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    text-align: justify;
    margin: 29px 0 0 0;
}

.description > button {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border-width: 0;
    color: #FFFFFF;
    width: 167px;
    height: 63px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    margin-top: 40px;
}

.description > button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    cursor: url(./../../public/images/pointer.png), auto;
}

.image {
    width: 50%;
    position: relative;
}

.imgActiveDesktop {
    width: 800px;
    position: absolute;
    top:-460px;
    right: -330px;
    z-index: -1;
}

.imgActiveTablet {
    display: none;
}

.imgActiveMobile {
    display: none;
}

@media (max-width: 1200px) {

    .description {
        width:398px;
    }

    .description > h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .description > p {
        font-size: 16px;
    }

    .imgActiveDesktop {
        display: none;
    }

    .imgActiveTablet {
        display: block;
        width: 800px;
        position: absolute;
        top:-460px;
        right: -330px;
        z-index: -1;
    }
}

@media (max-width: 1100px) {

    .imgActiveTablet {
        display: block;
        width: 800px;
        position: absolute;
        top:-460px;
        right: -450px;
        z-index: -1;
    }
}

@media (max-width: 1000px) {

    .imgActiveTablet {
        display: block;
        width: 700px;
        position: absolute;
        top:-460px;
        right: -450px;
        z-index: -1;
    }

    .description > button {
        width: 167px;
        height: 56px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 24px 40px;
    }

    .imgActiveTablet {
        width: 640px;
        top:-370px;
        right: -300px;
    }
}

@media (max-width: 740px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: 760px;
    }

    .image {
        width: 80%;
    }

    .imgActiveTablet {
        display: none;
    }

    .imgActiveMobile {
        display: block;
        width:453px;
    }
}

@media (max-width: 540px) {

    .container {
        flex-direction: column;
        align-items: center;
        height: 590px;
    }

    .description {
        width:343px;
        padding: 5px;
        box-sizing: border-box;
    }

    .image {
        width: 327px;
    }

    .imgActiveMobile {
        width:327px;
    }
}

@media (max-width: 360px) {

    .container {
        flex-direction: column;
        align-items: center;
        height: 720px;
    }

    .description {
        width:270px;
        padding: 5px;
        box-sizing: border-box;
    }

    .image {
        width: 327px;
    }

    .imgActiveMobile {
        width:327px;
    }
}